---
layout: layout
---
<!-- Modify by Yu-Hsuan Yen -->

<!-- Post Content -->

<article>
    <div class='bg-info'>
    <div class='container'>
    <div class="tags">
        <% page.tags.forEach(function(tag){ %>
          <a class="btn btn-primary" href="<%= url_for(tag.path) %>" title="<%= tag.name %>"><%= tag.name %></a>
        <% }) %>
    </div>
    <h1 class="text-white"><%= page.title %></h1>
    <h2 class="text-secondary"><%= page.subtitle || "" %></h2>
    <span class="text-muted">
        Posted by <%- page.author || config.author %> on
        <%= page.date.format(config.date_format) %>
    </span>
    </div>
    </div>
    <div class="container">

    <%- page.content %>
    

    <hr>
    <!-- Pager -->
    <ul class="pagination">
        <% if (page.prev){ %>
            <li class="page-item">
                <a class="page-link" href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; <%= __('Previous Post') %></a>
            </li>
        <% } %>
        <% if (page.next){ %>
            <li class="page-item">
                <a class="page-link" href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>"><%= __('Next Post') %> &rarr;</a>
            </li>
        <% } %>
    </ul>

    <br>
    </div>
</article>

