<!-- Navigation -->
<div class='bg-info'>
<nav class="container navbar navbar-expand-md bg-info navbar-dark">
  <a class="navbar-brand" href="<%= config.root %>"><%= config.title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <% theme.navmenu.forEach(function(menu){ %>

        <% if( menu.title && menu.url){ %>
        <% if(menu.children && menu.children.length > 0){ %>
           <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="<%= menu.url %>" id="navbardrop" data-toggle="dropdown"><%= __(menu.title) %></a>
                <div class="dropdown-menu">
                <% menu.children.forEach(function(child){ %>
                   <a class="dropdown-item" href="<%= child.url %>"><%= __(child.title) %></a>
                <% }); %>
                </div>
            </li>  
        
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="<%= menu.url %>"><%= __(menu.title) %></a>
            </li>
        <% } %>
        <% } %>
    <% }); %>
    </ul>
  </div>  
</nav>
</div>
